* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.container {
    text-align: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-icons2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.date-time {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #ffffff;
}
